# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
build/
*.tsbuildinfo

# env / secrets
.env
.env.local
.env.*.local

# caches
.turbo/
.cache/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store
Thumbs.db

.vercel
